---
import type { CollectionEntry } from "astro:content";
import { formattedDate } from "../utils";

const { blog } = Astro.props;
//use blog image like this  <img src={blog.data.ogimage} alt="og-image" />
interface Props {
  blog: CollectionEntry<"blog">;
}
---

<a
  class="flex justify-between items-start group
     pt-8 pb-12 relative border-skyblue"
  href={`/blogs/${blog.slug}`}
>
  {/* animating bottom line */}
  <span
    class="absolute bottom-0 left-0
    h-[0.3px] bg-sky-800 group-hover:translate-x-[550px]
    transition-all duration-700 ease-out
     max-sm:max-w-xs sm:max-w-md group-hover:max-w-[100px] w-full"
  ></span>
  {/* Blog details section */}
  <div class="space-y-4 w-full max-w-md">
    <p class="text-3xl font-title text-greenemerald uppercase font-semibold">{blog.data.title}</p>
    <p class="text-base max-sm:hidden font-light text-zinc-200">{blog.data.description}</p>
  </div>
  <div class="flex flex-col max-sm:mt-4 gap-3 justify-center items-start">
    <img
      src="/icons/circle-forward.svg"
      alt="visit-link"
      aria-label="visit-link"
      class="group-hover:scale-125 group-hover:translate-x-12 transition-transform ease-out duration-700"
    />
    <p
      class="whitespace-nowrap max-sm:hidden text-sm group-hover:font-medium group-hover:text-base group-hover:text-greenemerald transition-all ease-out duration-700"
    >
      {formattedDate(blog.data.pubDate)}
    </p>
  </div>
</a>
