---
import type { MarkdownInstance } from "astro";
import type { Frontmatter } from "../../constants";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getEntry } from "astro:content";
import { formattedDate } from "../../utils";

//adding custom mdx components
import Blockquote from "../../components/Blockquote.astro";
export const components = { blockquote: Blockquote };

//get slug
const { slug } = Astro.params;
// error check for slug
if (slug === undefined) {
  throw new Error("slug is required");
}
//get entry
const entry = await getEntry("blog", slug);
//check entry
if (entry === undefined) {
  return Astro.redirect("/404");
}
//get content
const { Content } = await entry.render();
//above logic for getting content using SSR

// Define the frontmatter for this page
const frontmatter: MarkdownInstance<Frontmatter>["frontmatter"] = {
  title: entry.data.title,
  description: entry.data.description,
  ogImage: entry.data.ogimage,
  author: entry.data.author,
};
---

<BaseLayout pageTitle={entry.data.title} frontmatter={frontmatter}>
  <section class="w-full group space-y-8">
    {/* Blog details section */}
    <div class="relative flex justify-between py-10">
      {/* Back button */}
      <a
        href="/blogs"
        class="absolute max-lg:-left-2 max-lg:-top-8
       -left-32 flex justify-end
       items-center gap-4
       p-2 rounded-xl shadow-sm w-20"
      >
        <span
          class="group-hover:opacity-0 transition-opacity ease-linear duration-500"
          >Back
        </span>
        <img
          src="/icons/circle-back.svg"
          alt="back"
          class="group-hover:-translate-x-4 group-hover:scale-125 transition-transform ease-in-out duration-1000"
        />
      </a>
      {/* animating bottom line */}
      <span
        class="absolute bottom-0
        animate-pulse
        left-1/2 -translate-x-1/2
      h-[0.3px] bg-sky-800
      transition-all duration-1000 ease-in-out
       max-w-xl group-hover:max-w-[100px] w-full"
      ></span>
      {/* Blog details */}
      <div class="max-w-sm space-y-6 pr-4">
        <h1 class="text-5xl font-bold">{entry.data.title}</h1>
        <p class="text-base">{entry.data.description}</p>
      </div>
      {/* Blog image section */}
      <div class="flex flex-col items-end gap-3">
        <img
          src={`${entry.data.ogimage}`}
          alt="ogimage"
          class="sm:w-44 max-sm:w-20 h-16 rounded-lg
    shadow-md group-hover:shadow-sky-500
     transition-shadow duration-700 ease-out"
        />

        <div
          class="flex items-center justify-center
         text-zinc-300 text-sm font-semibold
         group-hover:text-white
         transition-colors ease-in-out duration-700
         max-sm:flex-col-reverse whitespace-nowrap gap-2"
        >
          <p class="">{formattedDate(entry.data.pubDate)}</p>
          <p class="max-sm:hidden">|</p>
          <a
            class="hover:underline underline-offset-4"
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/mxnan">{entry.data.author}</a
          >
        </div>
      </div>
    </div>
    {/* Blog content section */}
    <article class="max-w-2xl prose prose-slate prose-invert prose-base">
      <Content components={components} />
    </article>
  </section>
</BaseLayout>
