---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const allBlogs: CollectionEntry<"blog">[] = await getCollection("blog");
---

<BaseLayout pageTitle="Blogs">
  <section class="min-h-screen flex justify-center items-center">
    <div class="flex flex-col gap-16">
      {
        allBlogs.map((blog) => (
          <div class="h-full w-full">
            <p>{blog.data.title}</p>
            <p>{blog.data.pubDate}</p>
            <p>{blog.data.description}</p>
            <p>{blog.data.author}</p>
            <p>{blog.data.ogimage}</p>
            <a href={`/blogs/${blog.slug}`}>link</a>
          </div>
        ))
      }
    </div>
  </section>
</BaseLayout>
